.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

aside {
    background-color: #00D084;
    height: 85vh;
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #6157BB;
    flex: 1 0 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    flex: 1 1 40%;
    background-color: #F2F3F0;
}


.container {
    font-family: 'Afacad Flux', sans-serif;
    background-color: #ffffff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}


.nav-top {
    flex: 1 0 80%;
}

.nav-bottom {
    flex: 1 0 20%;
    padding-left: 40px;
    text-decoration: none;
}

.fa-brands {
    color: #000;
  }


.items {
    overflow-y: auto;
    height: 80vh;
    padding-left: 70px;
}

nav a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style-type: none;
    font-size: large;
}

nav ul li {
    margin-top: 10px;
}

.pallet-line{
    border-bottom: 2px solid #000;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    top: -15px;
}

.item-detail {
    display: flex;
    flex-direction: row;
}

.about-detail {
    display: flex;
    flex-direction: row;
}

.item-detail-left {
    flex: 0 0 50%;
    padding-right: 20px;
}
.item-detail-right {
    flex: 0 0 45%;
}

.about-detail-left {
    flex: 0 0 30%;
}

.about-detail-right {
    flex: 0 0 70%;
}

.about-detail-right p {
    padding-right: 10px;
    padding-left: 10px;
}

.item-detail-link{
    border: 1px solid #6157BB;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 18px;
    width: 80px;
}

.item-detail-link a {
    color: #6157BB;
    text-decoration: none;
}

.box-text {
    margin-right: 15px;
}

.title-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-text-slash{
   background-image: url("../images/slash_single.svg");
   height: 20px;
   width: 80%;
}

